.grid{
    display: grid;
}

.place-items-center{
    place-items: center;
}

.w-max-content{
    width: max-content !important;
}

.w-12{
    width: 3rem !important;
}

.task-card:hover{
    cursor:pointer;
}

.w-64{
    width: 16rem !important;
}

.h-64{
    height: 16rem !important;
}